/*Generales */

:root {
    /* color */
    --bg-color: #e9e7e3;
    --primary-color: #2f6b53;
    --card-color: #e7f0e9;
    
    /* padding */
    --padding-section: 50px;
    
    /* border-radius */
    --radius-btn: 25px;
    --radius-card: 20px;
    --radius-titles: 16px;

    /* font-size */
    --texto-xs: 0.75rem;
    --texto-base: 1rem;
    --texto-lg: 1.3rem;
    --texto-xl: 2rem;
    --texto-xxl: 3rem;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Arimo', sans-serif;
    background-color: var(--bg-color);
}

h1, h2, h3 {
    margin-top: 8px;
    font-weight: 900;
}

h1 {
    font-size: var(--texto-xxl);
    line-height: 1.2;
    max-width: 700px;
}

h2 {
    font-size: var(--texto-xl);
    font-weight: 600;
}

h3 {
    font-weight: 600;
}


p {
    color: #838883;
    line-height: 1.5;
}

.container {
    margin: 0 auto;
    max-width: 1700px;
}

.tagline {
    display: block;
    color: var(--primary-color);
    font-size: var(--texto-xs);
    font-weight: 600;
    letter-spacing: 2px;
}

.destacar {
    color: var(--primary-color);
}

.numero {
    display: block;
    font-weight: 900;
    font-size: var(--texto-xl);
}

/* Header */

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}

.menu-toggle {
    display: none;
}

.site-header nav {
    display: flex;
    gap: 24px;
}

.site-header .container > a {
    color: var(--primary-color);
    font-weight: 900;
    font-size: 1.4rem;
    text-decoration: none;
}

.site-header nav a{
    color: black;
    font-size: var(--texto-base);
    font-weight: 400;
    text-decoration: none;
    transition: color 0.5s ease;
}

.site-header nav a:hover {
    color: var(--primary-color);
}

.site-header nav a:focus-visible {
    color: var(--primary-color);
    outline: 2px solid var(--primary-color);
    outline-offset: 4px;
}

/*Hero */

.hero {
    padding: var(--padding-section);
}

.hero-descripcion {
    max-width: 400px;
    font-size: var(--texto-lg);
    margin-bottom: 40px;
}

.boton-primario {
    background-color: var(--primary-color);
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 700;
    font-size: var(--texto-base);
    border-radius: var(--radius-btn);
}

.tarjeta-hero {
    background-color: var(--card-color);
    text-align: center;
    padding: 40px 50px;
    border-radius: var(--radius-card);
}

.tarjeta-hero .numero {
    font-size: 2.8rem;
}

.tarjeta-hero p{
    font-size: var(--texto-lg);
}

/*Catalogo */

.catalogo {
    padding: var(--padding-section); /* AGREGAR PADDING A LA SECCION COMPLETA */
}

.tarjetas-catalogo{
    display: flex;
    gap: 50px;
}

.titulo-catalogo{
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    padding: 6px 8px;
    border-radius: var(--radius-titles);
    font-size: var(--texto-xs);
    font-weight: 900;
    margin-bottom: 5px;
}

.tarjeta-catalogo {
    flex: 1;
    background-color: var(--card-color);
    padding: 20px;
    border-radius: var(--radius-card);
}


/*Nosotros */

.nosotros {
    padding: var(--padding-section);
}

.nosotros-descripcion {
    max-width: 450px;
    font-size: var(--texto-lg);
}

.tarjeta-nosotros {
    text-align: center;
    background-color: var(--card-color);
    border-radius: var(--radius-card);
    padding: 30px 0;
}


/* Contacto */

.contacto {
    padding: var(--padding-section);
    background-color: var(--primary-color);
    text-align: center;
}

.contacto h2 {
    color: white;
}

.contacto p {
    color: white;
    font-size: var(--texto-lg);
    margin-bottom: 30px;
}

.boton-contacto {
    display: inline-block;
    color: white;
    font-size: var(--texto-base);
    font-weight: 900;
    text-decoration: none;
    padding: 15px 20px;
    border: 1px solid white;
    border-radius: var(--radius-btn);
}

/* Footer */

.footer {
    padding: 30px 0 10px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.marca {
    display: block;
    color: var(--primary-color);
    font-weight: 900;
}

/* Responsive */

/* Header */

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .site-header nav {
        display: flex;
        flex-direction: row;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }

    .site-header nav.activo {
        max-height: 30px;
    }
}

@media (max-width: 352px) {
    .site-header nav.activo {
        flex-direction: column;
        max-height: 100px;
    }
}


/* Catalogo */

@media (max-width: 768px) {
    .tarjetas-catalogo{
        flex-direction: column;
    }
}

